.header {
  background-color: aquamarine;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 50px;
  }
}

.content {
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(81, 77, 85);
}

.input-todo {
  display: flex;
  margin-top: 50px;
  min-height: 50px;
  border-radius: 10px;
  min-width: auto;
  gap: 10px;

  input {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
  }
  button {
    padding: 0 10px;
    background-color: aqua;
    border-radius: 10px;
  }
}

.todos {
  background-color: rgb(81, 77, 85);

  width: 60%;
  min-width: fit-content; 
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
  gap: 10px;
}

.todo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(230, 153, 11);
  border-radius: 10px;
  padding: 15px 20px;

  input {
    font-size: 30px;
    color: black;
    background: transparent;
    border-style: none;
  }
  .underlinetrue {
    text-decoration: line-through;
  }
  .editfalse {
    padding: 5px;
    border-style: ridge;
  }
}

.c1 {
  display: flex;
  gap: 20px;
}

.c2 {
  display: flex;
  gap: 10px;

  button {
    font-size: x-large;
    border-radius: 5px;
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
  }

  #b1 {
    background-color: cyan;
    width: 75px;
  }
  #b2 {
    background-color: red;
  }
}
